.markAsDone {
  text-decoration: line-through;
  color: #777;
}

button {
  margin-right: 10px;
}

td + td {
  width: 20%;
  text-align: right;
}

.alignRight {
  text-align: right;
  padding-right: 8px
}

table {
  margin-top: 30px;
  clear: both;
display: inline-table;
}
